<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AlphaLinx Partners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

<!-- Start JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
      integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
      crossorigin="anonymous"></script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107139328-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107139328-1');
    </script>


  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
    <a class="navbar-brand" href="#"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link navhov" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link navhov" href="#expertise">Expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navhov" href="#">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navhov" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navhov" href="#aboutus">About Us</a>
          </li>
        </ul>

<!-- Begin Right Navbar -->

    		<ul class="navbar-nav navbar-right">

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link navhov" href="/partners"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;CLIENT PORTAL</a>
          </li>

    		</ul>

<!-- End Right Navbar -->

      </div>
    </div>
  </nav>


  <div id="sections" class="jumbotron header">
    <div class="container">

      <div class="right">
        <img src="images/alinx_smlogo.png" alt="AlphaLinx Partners">
      </div>

      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <h1 class="display-3">Paving the path for small business</h1>
        <hr class="my-4">
          <p class="lead">Join an ecosystem that lets you collaborate with other high achievers.</p>
          <p class="lead">
            <a class="btn btn-primary btn-dark" href="#" role="button">Learn more</a>
            <a class="btn btn-outline-dark " href="#" role="button">Join Now!</a>
          </p>
        </div>

        <div class="col-lg-4 col-sm-4 floatr" id="padtop">
          <p><input type="text" class="userinput" name="" placeholder="Full name"></p>
          <p><input type="text" class="userinput" name="" placeholder="Email"></p>
          <p><input type="text" class="userinput" name="" placeholder="Company name"></p>
          <p><textarea class="userinput" rows="5" cols="30" placeholder="Brief description about your company"></textarea></p>
          <p><button type="button" name="button">Sign up</button></p>
        </div>
      </div>
    </div>
  </div>


<div class="container">
  <a name="expertise"></a>

  <h2 class="areaheader">How does it work?</h2>

  <p class="lead">We see that small businesses are able to conquer more by working together. AlphaLinx faciliates this by selecting highly driven businesses that are able to come together and form an ecosystem that thrives on collaboration. In turn, AlphaLinx will also provide guidance and support to each business within this ecosystem to establish a solid operations foundation.

  <p>Each entrepreneur selected as an AlphaLinx partner will have access to a business advisor that will help you map out your business path. Additional free or minimal cost resources are also available, including interns and staff that can be hired on a per project basis to help you scale in a managable way as you grow.

  <p>Here are some of the highly sought after business areas in our selected pool. LEARN MORE.</p>

  <div class="row">

  		<div class="col-lg-4 col-sm-12">
  				<img src="images/site_biz/rawpixel-com-250087.jpg" class="img-thumbnail">
          <p></p>
          <hr>
          <h5 class="center"><strong>MAKE</strong></h5>
          <hr>

          <div>
            <h6>LAWYERS</h6>
              <ul>
                <li>Legal entity setups</li>
                <li>Business law pratice</li>
                <li>General counsel</li>
              </ul>
          </div>

          <div>
            <h6>MARKETING CREATORS</h6>
              <ul>
                <li>Marketing campaigns and projects</li>
                <li>Brand messaging & UX</li>
                <li>Data analytics</li>
              </ul>
          </div>


  		</div>

        <div class="col-lg-4 col-sm-12">
      			<img src="images/site_biz/brooke-lark-194253.jpg" class="img-thumbnail">
            <p></p>
            <hr>
            <h5 class="center"><strong>IT</strong></h5>
            <hr>
            <div>
              <h6>ACCOUNTANTS</h6>
                <ul>
                  <li>Tax advisory</li>
                  <li>Tax filing and returns</li>
                  <li>Bookkeeping</li>
                  <li>Payroll</li>
                </ul>
            </div>

            <div>
              <h6>FINANCE ANALYSTS</h6>
                <ul>
                  <li>Budgeting models</li>
                  <li>Revenue and sales forecasts</li>
                  <li>Evaluation of key performance metrics</li>
                </ul>
            </div>

        </div>
      	<div class="col-lg-4 col-sm-12">
      			<img src="images/site_biz/alejandro-escamilla-2.jpg" class="img-thumbnail">
            <p></p>
            <hr>
            <h5 class="center"><strong>HAPPEN</strong></h5>
            <hr>
            <div>
              <h6>PROGRAMMERS / DEVELOPERS</h6>
                <ul>
                  <li>Web development</li>
                  <li>Application development</li>
                  <li>Software customizations</li>
                </ul>
            </div>

            <div>
              <h6>TECH ENGINEERS</h6>
                <ul>
                  <li>Strategic assessment of IT platform</li>
                  <li>Implementation of hardware / software</li>
                  <li>Server and network solutions</li>
                  <li>Data management</li>
                </ul>
            </div>

      	</div>
    </div>
  
</div>

<div class="jumbotron">
<div class="container">
  <a name="faq"></a>

    <h2 class="areaheader">FAQ</h2>

    <!-- <p><strong>What is the main purpose of AlphaLinx?</strong></p>

      <p>
        AlphaLinx
      </p> -->

    <p><strong>How does the process work?</strong></p>

      <p>
        We have a team of advisors with a depth of industry experience that will work together with small businesses to ensure roadblocks are eliminated, workflows are made more efficient, and extra costs are eliminated. In turn, as a our clients grow, they become valuation contributers to the community. They can gain easy access to professional services of their peers, as well as earn additional clients by providing their own services in the community. This "ecosystem" will allow businesses with complementary products to operate as a team and become stronger.
      </p>

    <p><strong>What are your goals as business advisors?</strong></p>

      <p>
        AlphaLinx sees that for many small businesses, the biggest struggle is not how to build a product or perform a service, but how to create a workflow to makes everything more efficient and managable. There's nothing worse than applying patchwork solutions to processes because "it would be more time consuming to fix the source of the problem". We're here to help prevent basic issues for many businesses become issues in the first place. For most business owners (and more so first time owners), there is also an extraordinary amount of work that goes into managing the operations. Your focus should be on your core business and not on micromanaging administrative tasks. Our goal as specialized operations experts is to guide you through the phases of your business transformation, and improve operations in the most efficient way possible.
      </p>

    <p><strong>Do I really need this?</strong></p>

      <p>
        Through our experience, there's always more to learn, and the "lone wolf strategy to success" is never sustainable in the business world. Our team has firsthand experience and specializes in business operations. Our goal is to guide each company we work to build a solid foundataion. With each successful firm, as they become a valuable asset within the ecosystem, will contribute complementery skills to work with their peers.
      </p>


      <p><strong>What resources are provided to your small businesses?</strong></p>

        <p>
            We provide guidance services. In addition each business has a pool of addiitonal resources. One of the highly noted ones is the shared analyst pool. These are part time or ambitious college students looking to get additional experience by working for an elite start-up or small business. Resources are paid on a per project basis, so you only need them during seasonal difficulties or when you're scaling up from a big project. There is no commitment to keep them as employees.
        </p>

    <p><strong>How can I get selected?</strong></p>

      <p>
        Click HERE to apply now. We're constantly looking for highly motivated and energized individuals. Past success is not required. We're looking for newcomers with ambition.
      </p>

</div>
</div>


  <div class="container">
      <a name="casestudies"></a>
    <h2 class="areaheader">Case Studies</h2>

    <p>
      I've never worked with a more professional group of talented individuals! - <em>John Doe</em>
    </p>

    <p>
      I was thoroughly impressed. - <em>Jane Doe</em>
    </p>

 
</div>


<div class="jumbotron">
  <div class="container">
      <a name="aboutus"></a>
    <h2 class="areaheader">About AlphaLinx</h2>

    <p>We've seen and experienced the struggles of transitions in the small business world. Being a jack of all trades. Growing from 0 employees to one.
	</p>

      <p>AlphaLinx's vision is to work with an ecosystem of professional service entrepreneurs that have the necessary needs of a small business operations team. As one, an individual can be a mere puzzle piece, but when combined with the right team, we can build a masterpiece. Any solid business foundation is the most efficient way possible to set you on the path to success.</p>

  </div>
</div>

<div class="container">
  <h2 class="areaheader">Our Team</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4">
      <img src="images/hs_eric.jpg" alt="Eric" class="img-thumbnail">
    </div>

      <div class="col-lg-10 col-sm-8 float">
        <p>
          <strong>Eric Kwok</strong> is a Managing Director and CEO of AlphaLinx Partners. He oversees the firm’s strategic direction and leads the advisory and business development client service areas. He is recognized for his ability to identify growth opportunities, refine business processes, and automate functions that can potentially reduce risk and improve operating efficiency. His vision for AlphaLinx is to be at the forefront of innovation and to provide an essential suite of comprehensive solutions for small businesses - one that would allow clients to more freely maximize their ability to sell their front end products.
        </p>
        <p>
          Eric has ten years of experience in finance and accounting, most recently as Vice President at a global asset management firm with over $80 billion in assets under management. His finance and controller responsibilities within the private equity platform include fund accounting and operations oversight, performance reporting, budgeting and forecasting, and operational due diligence for the platform’s investment opportunities. Prior to this, he worked at a Fortune 500 investment bank as a senior accountant for credit, leveraged buyout, and venture capital private equity funds.
        </p>
        <p>
          Eric graduated cum laude with a B.B.A in Accountancy from the Macaulay Honors College at Baruch College in New York. He is also a Certified Public Accountant.
        </p>
      </div>
    </div>

<hr>

  <div class="row">
    <div class="col-lg-2 col-sm-4">
      <img src="images/hs_jack.jpg" alt="Jack" class="img-thumbnail">
    </div>
    <div class="col-lg-10 col-sm-8 float">

      <p>
        <strong>Jack Ng</strong> is a Managing Director and the Director of Business Operations at AlphaLinx.  He has eleven years of industry experience in the various business functions of accounting, audit, tax, operations consulting and financial analysis with a focus in the professional services industry.  Prior to the founding of AlphaLinx, Jack had spent two years in public accounting, five years at a Fortune 500 asset manager, and four years at a macro hedge fund. Jack's diverse experience in the financial services industry gives him a particular insight into efficiently managing professional services companies.  He has an expertise in controlling costs, increasing operational efficiency through process reviews, financial reporting, and quantitative strategic thinking.
      </p>
      <p>
        Jack received a B.B.A in Accountancy from the Macaulay Honors College at Baruch College in New York. He is currently a Certified Public Accountant and a Chartered Financial Analyst holder.
      </p>
    </div>
    </div>

<hr>

  <div class="row">
    <div class="col-lg-2 col-sm-4">
      <img src="images/hs_alex.jpg" alt="Alex" class="img-thumbnail">
    </div>

      <div class="col-lg-10 col-sm-8 float">

      <p>
        <strong>Alex Tang</strong> is a Managing Director and the Director of Business Development and Client Relations for AlphaLinx Partners. He serves as a central hub for the firm, connecting the group with talents and with the small business community. He is responsible for new business development, vendor management and business relationship management. Alex is a key player with negotiating contract and service agreements. He has a keen sense on connecting and nurturing a symbiotic business relationship that is mutually beneficial. Alex’s genuine nature, grits and personable quality allow him to network with individuals on a personal level, which helps grow AlphaLinx’s client base. He is a strong believer of retaining clients through building a great relationship, by providing high quality services at an affordable rate.
      </p>
      <p>
        Outside of Alphalinx, Alex is completing his last year of his MBA program at Quinnipiac University. He received his Bachelors of Science in Physician Assistant studies from Long Island University and is also a practicing board certified physician assistant with 9+ years of clinical experience. He currently specializes in the field of neurosurgery at a private hospital. Prior to this he served 5 years at a public hospital managing critical ill trauma patients at an underserved area in New York City. He is a member of the American Academy of Physician Assistant in Legal Medicine and a member of The American College of Healthcare Executive.
      </p>
    </div>
    </div>

<hr>

  <div class="row">
    <div class="col-lg-2 col-sm-4">
      <img src="images/hs_justin.jpg" alt="Justin" class="img-thumbnail">
    </div>
      <div class="col-lg-10 col-sm-8 float">

      <p>
        <strong>Justin Lau</strong> is a Managing Director and the Director of Software Engineering & Web Development for Alphalinx Partners. He is responsible for designing and implementing customized web applications that reduce work redundancy through automation to improve business efficiency. He has led countless business strategic initiatives, from building customized management tools for administrators to providing training sessions to end users and troubleshooting issues that arises to the hundreds of active projects. He also manages digital marketing, which transcends his role beyond the traditional software engineer. His creativity and proficiency with Adobe Photoshop allows him to design advertisement contents, which are used to enhance marketing campaigns. Justin is recognized for his creativity and unique ability to identify technology opportunities that can improve businesses. His skillset is equally invaluable to the company as well as to AlphaLinx’s client base.
      </p>
      <p>
        Justin received his Bachelor of Science in Computer Science with Honors and a Masters in Computer Science from Long Island University. He also received his Advanced Certificate in GIS Mobile Application Development.
      </p>
    </div>
    </div>

<hr>

  <div class="row">
    <div class="col-lg-2 col-sm-4">
      <img src="images/hs_anthony.jpg" alt="" class="img-thumbnail">
    </div>
      <div class="col-lg-10 col-sm-8 float">

      <p>
        <strong>Anthony Williams</strong> is the Director of Information Technology for AlphaLinx Partners. One can consider him as a Swiss Army knife of technological solutions. He has a strong background in Window-based network environments, as well as a long track record of investigating and troubleshooting network issues, upgrading systems and infrastructures, and facilitating technical expansion for businesses and freelance professionals.
      </p>
      <p>
        Anthony has over a decade of experience in project management, server installation, application development, and customizing software. He has created working prototypes for numerous web sites and desktop applications. He’s also fluent in multiple programming languages, including Java, PHP, HTML, SQL, and CSS. Moreover, he is familiar with numerous website and domain hosting services, including WordPress, Shopify, and Magento.
      </p>
      <p>
        Before he became part of the AlphaLinx Team, Anthony worked with computers for the Grenadian government. He worked as a Senior Systems Administrator at a technology company in NYC specializing in e-commerce solutions and business development. He also started and successfully managed his own IT companies, where he built top-performing teams of IT specialists and cultivated client relationships with both small start-ups and large high-end businesses.
      </p>
      <p>
        Anthony studied Computer Information Technology at Kingsborough Community College and Engineering, Human Interface Design, and Computer Networking at Polytechnic University. He graduated with a Bachelor’s degree in Engineering and Associates degree in Science.
      </p>
    </div>
    </div>

  </div>
  </div>

<!-- FOOTER AREA -->

<hr>

<div class="footer">
  <div class="container center">

  <h5 class="footertext">Contact Us:<h5>
    <h6><a class="footertext smfooter" href="mailto:info@alphalinxpartners.com">info@alphalinxpartners.com</a></h6>

<br>
<h4>
  <div class="smfooter">
      <a href="https://www.facebook.com/alphalinxpartners/" class="socmedia"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <a href="https://www.linkedin.com/company/10915754/" class="socmedia"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>
</h4>
<hr>

<h3 id="greyicon"><i class="fa fa-map-marker" aria-hidden="true"></i></h3>

  <div class="footertext">AlphaLinx Office Location
    <strong>
      <br>11 E Broadway Suite #12A
      <br>New York, NY 10038
      <br>
      <br>
    </strong>
  </div>


<!-- Google Map -->

<iframe
  width="700"
  height="350"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOEIc27VJUvRn1fzM-DIPmpBpqBUjCfmI
    &q=11+E+Broadway+%2312A,+New+York,+NY+10038" allowfullscreen>
</iframe>


<p class="allrights footertext"><em>© 2017 AlphaLinx Partners. All Rights Reserved.</em></p>

  </div>
</div>

<script type="text/javascript" src="js/alpha.js"></script>
  </body>
</html>
