<% include ./partials/header %> 

<div class="container">
<h1>Login</h1>
<form action="/login" method="POST">
    <input class="portal-text" type="text" name="username" placeholder="username">
    <input class="portal-text" type="password" name="password" placeholder="password">
    <input class="portal-text" type="submit" value="Login!">
</form>
</div>

<% include ./partials/footer %> 
